<a href="https://colab.research.google.com/github/tiffypabo/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [1]:
x = float (1)
a, b = 0, 1
a, b, c = "Sally", "John", "Anna"

print('This is a sample')
print(a)
print(c)

This is a sample
Sally
Anna

In [4]:
a, b, c = "Sally", "John", "Ana"
a, b, c = 0, -1, 2

print('This is a sample')
print(a)
print(c)

This is a sample
0
2

Casting

In [5]:
print(x)

1.0

Type() Function

In [6]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [7]:
h = "Maria"
v = 1
V = 2

print(h)
print(v)
print(V)

Maria
1
2

Multiple Variables

In [8]:
x,y,z = "one", "two", "three"

print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variables

In [9]:
x = y = z = "Stella"

print(x,y,z)

Stella Stella Stella

Output Variables

In [12]:
x = "enjoying"
print("Python is"+" "+ x)

x = "Hi"
y = "have a nice day <3"
print(x+" "+ y)

Python is enjoying
Hi have a nice day <3

Arithmetic Operations

In [15]:
f = 1
g = 2
i = 6

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

3
-1
6
3
1.5
1
1
729

Assignment Operators

In [17]:
k = 2
l = 3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [18]:
k=2
l=3
print(k>>2) #shift right twice
print(k<<2) #shift left twice

0
8

Relational Operators

In [19]:
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operators

In [20]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [21]:
print(v is k)
print(v is not k)

False
True