<a href="https://colab.research.google.com/github/tiffypabo/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

Bool() function

In [ ]:
print(bool("Tiffany"))
print(bool(1005))
print(bool(0))
print(bool(1))
print(bool(None))

True
True
False
True
False

Function can return Boolean

In [ ]:
def myFunction():
  return True

print(myFunction())

True

In [ ]:
def myFunction():
  return True

if myFunction():
  print("Yes.")
else:
  print("No.")

Yes.

Application 1

In [ ]:
a=6
b=7
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

print(a==b)
print(a!=a)

False
a is less than b
False
False

Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

In [ ]:
a=60
b=13
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

print(a==b)
print(a!=a)

True
a is greater than b
False
False

In [ ]:
# a = 60 , binary 0011 1100
# b = 13 , binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

In [27]:
#Assignment Operators

x=10

print(x+3)
print(x-3)
print(x*3)
print(x/3)
print(x%3)

13
7
30
3.3333333333333335
1

Logical Operators

In [29]:
k = True
l = False

print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [30]:
k is l
k is not l

True

# Control Structure

If statement

In [38]:
v = 2
z = 1

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [39]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is greater than z

Else Statement

In [41]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")
else:
  print("v is equal to z")

v is greater than z

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [43]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

16
You are not qualified to vote

Nested If... Else

In [54]:
u = int(input())

if u>10:
  print("u is above 10")
if u>20:
  print("u is above 20")
if u>30:
  print("u is above 30")
if u>40:
  print("u is above 40")
else:
  print("u is below 40")
if u>50:
  print("u is above 50")
else:
  print("u is below 50")

56
u is above 10
u is above 20
u is above 30
u is above 40
u is above 50

#Loop Structure

In [59]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
season = ["rainy","sunny"]

for x in week:
  for y in season:
    
   print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [67]:
for x in week:
  if x == "Thursday":
   break

print(x)

Thursday

In [68]:
for x in week:
  if x == "Thursday":
   break

  print(x)

Sunday
Monday
Tuesday
Wednesday

In [69]:
#To display Sunday to Thursday

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While Loop

In [71]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers from 1 to 4 using While loop statement

In [72]:
j = 1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a Python program that displays 4 using While loop statement and break statement

In [74]:
j = 1

while j<=4:
  if j==4:
   print(j)
  j+=1

4